.form-container {
    direction: ltr;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #8992a047;
}
  
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    transform: scale(.98) translateY(-.5rem) translateX(.15rem);
}

@media only screen and (min-width: 350px) {
    .small-only {
        display: none;
    }
}